body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

header {
    text-align: center;
    padding-top: 30px;
    width: 50%;
    margin: auto;
}

header h2:first-child {
    font-weight: 400;
    color: var(--GrayishBlue);
}

header h2:last-child {
    font-weight: 600;
}

header p {
    font-size: 16px;
    color: var(--VeryDarkBlue);
  }

  main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .columnone, .columntwo, .columnthree {
    max-width: 350px;
    padding: 15px;
  }

  .Supervisor, .Team, .Karma, .calculator {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
    background-color: var(--VeryLightGray);
    border-radius: 10px;
    border-top: 5px solid var(--Cyan);
    max-width: 350px;
  }

  .Supervisor p, .Team p, .Karma p, .calculator p {
    color: var(--VeryDarkBlue);
    font-weight: 400;
  }  

  .team {
    border-top: 5px solid  var(--Red);
    margin-bottom: 15px;
  }

  .karm {
    border-top: 5px solid  var(--Orange);
  }
 
  .calc {
    border-top: 5px solid  var(--VeryDarkBlue);
  }

  .position {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  

  @media (max-width:800px) {
    main  {
       flex-direction: column ; 
    }
  }

  

  .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }